<cdb-header></cdb-header>
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 box">
                <h1 ng-if="$ctrl.id != undefined" translate>btn.edit</h1>
                <h1 ng-if="$ctrl.id == undefined" translate>btn.add</h1>
                <form>
                    <input type="hidden" value="{{$ctrl.id}}" id="id" ng-if="$ctrl.id != undefined"/>
                    <fieldset>
                        <div class="form-group">
                            <label for="computerName" translate>tb.computerName</label>
                            <input type="text" class="form-control" id="computerName" placeholder="Computer name">
                        </div>
                        <div class="form-group">
                            <label for="introduced" translate>tb.intro</label>
                            <input type="date" class="form-control" id="introduced" placeholder="Introduced date">
                        </div>
                        <div class="form-group">
                            <label for="discontinued" translate>tb.disco</label>
                            <input type="date" class="form-control" id="discontinued" placeholder="Discontinued date">
                        </div>
                        <div class="form-group">
                            <label for="companyId" translate>tb.company</label>
                            <select class="form-control" id="companyId" >
                                <option value="0">--</option>
                                <option ng-repeat="company in $ctrl.companies" value="{{company.id}}">{{company.name}}</option>
                            </select>
                        </div>
                    </fieldset>
                    <div class="actions pull-right">
                        <input type="submit" value="{{ 'btn.save' | translate }}" class="btn btn-primary" ng-if="$ctrl.id != undefined" ng-click="$ctrl.addComputer(computer)">
                        <input type="submit" value="{{ 'btn.save' | translate }}" class="btn btn-primary" ng-if="$ctrl.id == undefined" ng-click="$ctrl.editComputer(computer)">
                        or
                        <a href="/dashboard" class="btn btn-default" translate>btn.cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>